@use "config"as *;


/* =================================
下層ページ共通
 ================================= */
.sub-page {

  &__top {
    position: relative;
  }

  &__ttl {
    position: absolute;
    top: 55%;
    left: 80px;
    transform: translateY(-50%);

    @include pc {
      top: 60%;
    }

    @include tab {
      top: 50%;
      left: 12px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}


/* =================================
会社概要
 ================================= */

.page-about {

  &__ttl {
    width: 240px;

    @include pc {
      width: 160px;
    }

    @include sp {
      width: 100px;
    }
  }


  &__section {
    position: relative;
    overflow: hidden;
  }

  &__section-bg {
    background: linear-gradient(to right,
        #fff 50%,
        #f2f2f2 50%);
    padding: 80px 16px;

    @include tab {
      padding: 40px 16px;
      background: #fff;
    }

    &--reverse {
      background: linear-gradient(to left,
          #fff 50%,
          #f2f2f2 50%);

      @include tab {
        background: $bg;
      }
    }
  }

  &__inner {
    max-width: 980px;
    margin: 0 auto;
  }

  &__section-ttl-wrap {
    max-width: 880px;
    margin: 0 auto;

    &--reverse {
      width: 50%;
      margin: 0 0 0 auto;

      @include tab {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__section-ttl {
    position: relative;
    border-bottom: 1px solid $sub;
    padding: 0 120px 8px 0;
    font-size: 28px;
    color: $sub;
    font-weight: 800;
    line-height: 1;
    margin: 0 0 60px;
    width: 380px;

    @include tab {
      font-size: 20px;
      margin: 0 0 24px;      
    }

    // 画面からはみ出してしまうので追加
    @include sp{
    width: 100%;
    }

    &--reverse {
      margin: 0 0 60px 40px;

      @include tab {
        margin: 0 0 24px;
      }
    }

    span {
      color: $main;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 30px;
      height: 2px;
      background: $main;

    }
  }

  &__section-img {
    flex: 1;
    transform: translate(80px, -40px) scale(1.2);

    img {
      max-width: none;
      height: auto;
      display: block;
    }


    // 画面からはみ出してしまうので、もう1つブレイクポイントを追加
    @include pc {
      transform: translate(0, -40px) scale(1);
    }

    @include tab {
      // 大きすぎるので、マックス値を指定
      max-width: 500px;
      width: 100%;
      margin: 0 auto 40px;
      transform: none;
    }

    &--reverse {
      margin: 0 0 40px auto;

      @include tab {
        margin: 0 auto 40px;
      }
    }

  }

  &__section-img-left {
    flex: 1;
    transform: translate(-70px, 50px) scale(1.2);

    img {
      max-width: none;
      height: auto;
      display: block;
    }

    @include tab {
      max-width: none;
      width: 100%;
      margin: 0 auto 40px;
      transform: none;
    }

    &--reverse {
      margin: 0 0 40px auto;

      @include tab {
        margin: 0 auto 40px;
      }
    }

  }

  &__content {
    display: flex;
    gap: 100px;
    max-width: 880px;
    margin: 0 auto;
    position: relative;

    @include pc {
      gap: 60px;
    }


    @include tab {
      flex-direction: column;
      gap: 40px;
    }


    &--reverse {
      flex-direction: row-reverse;

      @include tab {
        flex-direction: column;
        gap: 40px;
      }

      &::before {
        left: 50%;

        @include tab {
          display: none;
        }
      }
    }
  }

  &__content-lead {
    // 絶対値ではなく、％で指定。（レスポンシブに対応させるため）
    width: calc((100% - 100px) / 2);

    @include pc {
      width: calc((100% - 60px) / 2);
    }

    @include tab {
      flex: none;
      width: 100%;
    }
  }

  &__catch {
    width: fit-content;
    margin: 40px auto 80px;
    color: $main;
    font-weight: 600;
    line-height: 1.5;
    transform: rotate(-5deg);

    p {
      margin: 0;
      font-size: 28px;

      @include tab {
        margin: 0;
        font-size: 20px;
      }

      // 改行しないように追加
      @include sp {
        font-size: 17px;
        white-space: nowrap;
      }
    }

    @include tab {
      // 中央揃いにして、上下のマージンもう少し
      margin: 48px auto;
      line-height: 1.2;
    }
  }

  &__lead-item {
    margin: 0 0 60px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tab {
      margin: 0 0 24px;
    }

  }


  &__list-head {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 0 20px;
    font-size: 20px;

    @include tab {
      font-size: 18px;
      margin: 0 0 12px;
    }

  }

  &__list-num {
    color: $main;
    font-weight: 600;
  }

  &__list-title {
    color: #9c9c9c;
    font-weight: 600;
  }

  &__history-list {
    flex: 0 0 380px;
  }

  &__history-item {
    margin: 0 0 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__history-year {
    margin: 0 0 8px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: $main;

    @include tab {
      font-size: 20px;
    }

    span {
      margin-left: 4px;
      font-size: 18px;
      color: #9c9c9c;
      font-weight: 800;
    }
  }

  &__history-text {
    margin: 0;

  }

  &__history-images {
    flex: 1;
  }

  &__history-img {
    height: 198px;
    margin: 0 0 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:nth-child(1) {
      transform: translateX(80px);
    }

    &:nth-child(2) {
      transform: translateX(40px);
    }

    &:nth-child(3) {
      transform: translateX(0);
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include tab {
      transform: none !important;
    }
  }

  &__access-map {
    max-width: 960px;
    margin: 0 auto;

    img {
      width: 100%;
      display: block;
    }
  }

}


/* =================================
採用情報
 ================================= */

.page-recruit {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}